---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: consolehub
spec:
  replicas: 5
  template:
    metadata:
      labels:
        app: consolehub
    spec:
      containers:
      - image: pyconuk-2018-k8s:consolehub
        name: consolehub
        ports:
          - name: http
            containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: consolehub
  labels:
    app: consolehub
spec:
  ports:
  - name: consolehub
    port: 80
    targetPort: http
  selector:
    app: consolehub
